main {
  display: flex;
  justify-content: center;
}

main > .contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

footer > .form-title-section > button {
  display: block;
}

.form-title-section {
  display: flex;
  justify-content: center;
}
#clear-button {
  padding: 0px;
  margin: 2px;
}
.form-wrapper {
  text-align: center;
  margin-bottom: 40px;
  justify-content: center;
}

.submitbutton {
  grid-column-start: 2;
  width: 100%;
  grid-column-end: 2;
}
