main {
  display: flex;
  justify-content: center;
}

main > .gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

main > .gallery > img {
  height: 100px;
  width: 100px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
body {
  background-color: lightpink;
}
